<nav aria-label="breadcrumb">
    <ol class="breadcrumb  p-3 mb-2 bg-warning">
        <li class="breadcrumb-item "><button [routerLink]="['']" class="btn btn-secondary text-warning">torna ai
                continenti</button>
        </li>
        <li class="breadcrumb-item"> <button (click)=" goToAddPage()" class="btn btn-secondary text-warning">
                Aggiungi città</button>
        </li>
        <li class="breadcrumb-item "><button [routerLink]="['/citiesautocomplete']"
                class="btn btn-secondary text-warning">cerca tutte le città del mondo e lascia una tua
                recensione!</button>
        </li>

    </ol>

    <body
        background="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAElBMVEX9+Mb////9+MP9+cz+++L9+crq3xJ/AAAAf0lEQVR4nO3SgQkDMAwDQSux91+5hc4QUsLdBC9QJb3rVdNJZa/bHQetneqXB34ndr170Z+5HQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwN+a2wGHTfW63XDU6sp+eeKaVNLvHnU6+QApDwBvvbdfsAAAAABJRU5ErkJggg==">
        <span align="center" class="d-block p-2 bg-warning text-secondary">CITTA</span>
        <div align="center" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Benvenuto nelle citta di <span class="badge badge-secondary text-warning">{{nation.name}}</span>
            </strong>
        </div>
        <div class="state-container-dropdown"></div>

        <span align="center" class="d-block p-2 bg-warning text-secondary">ORDINA PER
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary text-warning" (click)="ordinaCity(AZ)">{{AZ}}</button>
                <button type="button" class="btn btn-secondary text-warning"
                    (click)="ordinaCity(POPA)">{{POPA}}</button>

            </div></span>
        <div align="center" *ngFor="let c of city  " class="list-group-item list-group-item-warning text- ">
            <td> <button (click)="deleteCity(c.id)" class="btn btn-secondary text-warning">elimina</button></td>
            <tr></tr>
            <td>
                <h1><span class=" text-warning " style="cursor: pointer" (click)="open(content,c)"> ► {{c.name}}</span>
                </h1>
            </td><br>
            <td>
                <h2> {{c.population}}</h2>
            </td>
            <tr></tr>
            <td><button (click)=" goToModPage(c.id)" class="btn btn-secondary text-warning">modifica</button></td>
        </div>
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title"><span
                        class="badge badge-secondary text-warning">{{modalCity.name}}</span></h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span class="badge badge-secondary text-warning" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <p class="stretched-link text-warning btn btn-secondary " (click)=" linkToReview(modalCity.id)"
                    (click)="c('Cross click')" style="cursor: pointer"> ► Recensioni Città
                    {{modalCity.name}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-warning" (click)="c('Cross click')">Close</button>
            </div>
        </ng-template>


    </body>