.color{
    background: gold
}
.dropdown{
    position:absolute;
    z-index: 1;
    width: 92%;
    max-height: 300px;
    background:lightslategray;
    overflow-y: auto;
    }
    .state{
        padding:10px;
        font-family:sans-serif;
        color:gold
    }
    .body{
        background: gold
    }
    .modal-header  {
        background-color:gold;
        color: rgb(129, 129, 134);
      }
     
      
      .modal-body{
        background-color:rgba(255, 217, 0, 0.116);
        color: rgb(129, 129, 134);

      }
      .modal-footer{
        background-color:rgba(13, 14, 13, 0.575);
        color: rgb(129, 129, 134);
      }