:host >>> .alert-custom {
    color: #99004d;
    background-color: #f169b4;
    border-color: #800040;
  }
  ngb-alert{
   color: black
    
  }
  .alert.alert-danger{
   
    color:black;
    width: 100%;
    
  }
  .alert.alert-dangertwo{
    background :darksalmon;
    color:black;
    width: 70%;
    height: 20%;
    padding: 5px 10px;
  }
  .alert.alert-success{
    width: 130%;
    height: 40%;
    padding: 5px 10px;
  }
  .text-warning{
    color: black
  }
  input[type=text]{
    width: 60%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(211, 223, 45);
    border-radius: 4px;
    box-sizing: border-box;
    background:goldenrod;
    color: black
  }
  input[type=password]{
    width: 60%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(211, 223, 45);
    border-radius: 4px;
    box-sizing: border-box;
    background:goldenrod;
    color: black
  }