<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 mb-2 bg-warning ">
        <li class="breadcrumb-item active"><button [routerLink]="['']" class="text-primary"
                class="btn btn-secondary text-warning" align="center"> Torna ai
                continenti</button></li>
    </ol>
</nav>


<body
    background="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAElBMVEX9+Mb////9+MP9+cz+++L9+crq3xJ/AAAAf0lEQVR4nO3SgQkDMAwDQSux91+5hc4QUsLdBC9QJb3rVdNJZa/bHQetneqXB34ndr170Z+5HQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwN+a2wGHTfW63XDU6sp+eeKaVNLvHnU6+QApDwBvvbdfsAAAAABJRU5ErkJggg==">
    <span align="center" class="d-block p-2 bg-warning text-white">Nazioni</span>

    <div align="right" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Benvenuto nelle nazioni del continente <span
                class="badge badge-secondary text-warning">{{continent}}</span></strong> Seleziona una nazione per
        visualizzarne le città.
    </div>

    <p align="center" *ngFor="let n of nation" (click)="goToCityByCodeCountry(n.code)"><button type="button"
            class="btn btn-warning btn-sm"><td><h1>{{n.name}}</h1></td><br><td>popolazione: {{n.population}}</td></button>
    </p>

</body>